@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --bg: rgb(240, 246, 255);
    --color1: rgb(0, 5, 80);
    --color2: rgb(22, 30, 139);
    --img_size: 150px;
}
body {
    background-color: var(--bg);
    color: var(--color1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    position: fixed;
    z-index: 5;
}
.logo-button {
    background: none;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 0;
    border-radius: 150px;
}
.logo {
    width: 122.5px;
    height: 115.5px;
}

.main-grid {
    display: grid;
    gap: 0px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 40% 45% 90%;
    margin-bottom: 0vh;
}
.invis {
    visibility: hidden;
}
.main-grid div {
    text-align: center;
    font-size: 30px;
}
.title {
    width: 675px;
    height: 450px;
    margin: auto;
}
.about-bold {
    margin-left: 40px;
    margin-top: -10px;
    text-align: left;
    font-size: 60px;
}
.about-sub {
    text-align: left;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
}
.main-about {
    line-height: 1.6;
}
.glow {
    margin-left: 80px;
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2949ff, 0 0 40px #4955ff, 0 0 50px #7f87ff, 0 0 60px hsl(239, 100%, 66%), 0 0 70px #4639ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3236eb, 0 0 40px #7c4dff, 0 0 50px #4037c7, 0 0 60px #5f2cd8, 0 0 70px #1511fa, 0 0 80px #4da9ff;
  }
}

.dropdown {
    position: relative;
    display: inline;
}


.link {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--color1);
    background: none;
    border: 0;
    font-size: 60px;
    margin-bottom: 1.8vw;
    vertical-align: text-bottom;
    letter-spacing: 2px;
    transition: letter-spacing 150ms ease-in-out, color 150ms ease-in-out;
}

.dropdown.active > .link,
.link:hover {
    color: var(--color2);
    letter-spacing: 7px;
}

.dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 1.25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.line-down {
    width: 5px;
    height: 350px;
    background-color: black;
    margin: 10px auto;
}
.scroll {
    margin-top: 0px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 35px;
}
.project-button {
    color: var(--color2);
    background-color: white;
    font-size: 20px;
    padding: 10px;
    border: 0;
}
.project-button:hover {
    color:#257aca;
}
.little-underline {
    height: 5px;
    width: 80px;
    margin: auto;
    background-color: var(--color2);
}
.projects-header {
    margin-bottom: 5vh;
}
.projects-header h2 {
    font-size: 60px;
}
.projects-divide {
    font-size: 45px;
    display: inline;
}
.big-lil-sep {
    margin: auto;
    display: flex;
    gap: 160px;
    width: 70vw;
    justify-content: space-between;
}
.underline {
    grid-area: underline;
    width: 60px;
    height: 4px;
    background-color: var(--color2);
}
.link-img {
    width: 30px;
    height: auto;
    margin: 0 auto;
}
.link-link {
    margin: 10px auto;
}
.contact {
    margin-top: 100px !important;
    margin-bottom: 200px !important;
}
.projects {
    font-size: 30px;
    margin-top: 0vh;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}
.project {
    /*border: 4px solid black;*/
    border: 0;
    background-color: var(--bg);
    display: grid;
    height: calc(var(--img_size) + 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(5px);
}
.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.project * {
    margin: auto;
    color: var(--color1);
    font-family: "Roboto Condensed", sans-serif;
}
.project-desc {
    grid-area: desc;
    font-size: 25px;
}
.project-title {
    grid-area: title;
    font-size: 45px;
}
.project-img {
    grid-area: img;
}
.imgh {
    height: var(--img_size);
    width: auto;
}
.imgw {
    width: var(--img_size);
    height: auto;
}
.left {
    grid-template-areas: 
        'img title'
        'img desc';
}
.right {
    grid-template-areas: 
        'title img'
        'desc img';
    margin-left: auto;
}
.right .project-desc {
    margin-right: 20px;
}
.left .project-desc {
    margin-left: 20px;
}
.project-sep {
    width: 300px;
    height: 5px;
    margin: 3vh auto;
    background: none;
    border-top: 5px dashed var(--color2);
}